#rightMenu{
    width:300px;
    height:760px;
    float:right;
    background: darkorange;
    margin-bottom:50px;
}
#userPicture{
    margin-left:130px;
    margin-top:40px;
}
#adminName{
    margin: auto;
    margin-top:20px;
    width: 30%;
}
#Buttondashboard{
float:left;
    height:80px;
    width:20px;
    margin-top:18%;
    background: black;

}
#arrowicon{
    margin-top: 25px;
}#arrowleft{
    display:none;
    margin-top: 25px;
}
 #under_menu{
     height: 400px;
     width: 100%;
     margin-left:3%
 }
#under_menu table{
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
 }
#buttondash{
    height:30px;

}.pull-right{
    float:left;
 }
#userName{
    margin-left:0px !important;
}
#visitorsMenu{
    text-align: center;
    margin-top:20px;
}
#visitorsCount{

}
#piechart{
   width:100%;
   height:370px;

}
@media only screen and (max-width: 500px) {
    #piechart{
        width:100%;
        height:370px;
    }
    #rightMenu {
        width: 94.1%;
        height:760px;
        float:right;
        background: darkorange;
        margin-bottom:50px;
        display: block;
    }
    #Buttondashboard{
        margin-top: 100%;
    }
    #under_menu{
        height: 400px;
        width: 100%;

        overflow-x: auto;
    }
}
@media only screen and (min-width: 500px) and (max-width: 1300px) {
    #under_menu{
        height: 400px;
        width: 100%;
        overflow-x: auto;
    }
}
.packetTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.packetTable td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}


.packetTable tr:nth-child(even){background-color: #f2f2f2;}

.packetTable tr:hover {background-color: #ddd;}

.packetTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: white;
}
#firstTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#firstTable td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}


#firstTable tr:nth-child(odd){background-color: #f2f2f2;}

#firstTable tr:hover {background-color: #ddd;}

#firstTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: white;
}
