body {
    background: #f4f4f4;
}

.pagin {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border: 1px solid #f4f4f4;
    border-radius:6px;
    color: #000000;
    cursor: pointer;
    display: flex;
    font-weight: 700;
    height: 44px;
    outline:0;
    justify-content: center;
    padding: 0;
    transition: all .2s ease-in;
    width: 44px;
}
ul li a {
     align-items: center;
     background: #fff;
     border: 1px solid #f4f4f4;
     border-radius:6px;
     color: #000000;
     cursor: pointer;
     display: flex;
     font-weight: 700;
     height: 44px;
     outline:0;
     justify-content: center;
     padding: 0;
     transition: all .2s ease-in;
     width: 44px;

}
