/* Modal Content */
.modal-content {

    background-color: #efefef;
    margin: auto;
    padding: 20px;
    border: 1px solid #fefefe;
    width: 80%;
}
.modal2 {
    background-color: #efefef;
    padding-top: 110px;
    z-index: 1;
    left: 0;
    justify-content: center;
    top: 0px;
    width: 100%;
    height: 100%;
}
.modal-content2 {
    background-color: #efefef;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* The Close2 Button */
.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.btns{
    border: none;
    color: white;
    padding-right: 10px ;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: #fefefe;
}

.btns:hover:not(.active) {
    transition: all .3s linear;
    background-color: #ff6c3a;
}
