.radio_ttile label{
    margin-top:0px;
    margin-bottom:0px;
}
.label_title{
    margin-top:0px !important;
    margin-bottom:0px !important;
    margin-right:0px !important;
    padding-right:0px !important;
    margin-left:0px !important;
    mpadding-left:0px !important;
    width:60px !important;
}p{
     margin-top:0px !important;
     margin-bottom:0px !important;
     margin-right:0px !important;
     padding-right:0px !important;
     margin-left:0px !important;
     mpadding-left:0px !important;
     width:55% !important;
 }
 #success_message{
     display:grid;
 }
 #button_pay {
     cursor: pointer;
     transition: ease .3s;
     background: #ff6c3a;
     color: white;
     float: right;    display: none;
     padding: 12px 24px;
     background: rgb(220,220,220);
     font-weight: bold;
     color: rgb(120,120,120);
     border: none;
     outline: none;
     border-radius: 3px;
     cursor: pointer;
     transition: ease .3s;
     background: #ff6c3a;
     color: white;
 }
.demonstration{
    width:40%;
}.menuy{
     text-align: center;
 }
#button_contact {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220,220,220);
    font-weight: bold;
    color: rgb(120,120,120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
    background: #ff6c3a;
    color:white;
    float:left;
}#button_contact2 {
     display: inline-block;
     padding: 12px 24px;
     float:right;
     background: rgb(220,220,220);
     font-weight: bold;
     color: rgb(120,120,120);
     border: none;
     outline: none;
     border-radius: 3px;
     cursor: pointer;
     transition: ease .3s;
     background: #ff6c3a;
     color:white;
 }#settingsForm label p{
      text-align: justify;
  }


#button_contact:hover {
    background: #333;
    color: #ffffff;
}#button_contact2:hover {
     background: #333;
     color: #ffffff;
 }
#settingsForm {
    width: 60%;
    margin: 60px auto;
    background: #efefef;
    padding: 60px 40px 80px 40px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
.radioe
{height:25%;}

.nav-tabs{
    width:30px;
}
.nav-tabs>li{
    margin-right:0px;
    padding-right:0px;
    margin-left:0px;
    display:block
}

#buttonss ul li a {
    text-decoration:none;
    color:#222;
    background-color:#ccc;
    padding:4px 5px;
}.LABEL_text{
     margin-bottom: 10px;
 }.input_file{
      width:100%;
  }.LABEL_text{
       width:8%;
       font-size: 12px;
   }
label {
    display: block;
    position: relative;
    margin: 40px 0px;
}
.label-txt {
    position: absolute;
    top: -1.6em;
    font-family: sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    color: rgb(120,120,120);
    transition: ease .3s;
}
/*
   // {{ Route::currentRouteName() }}

   */
.input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
}

.line-box {
    position: relative;
    width: 100%;
    height: 2px;
    background: #BCBCBC;
}

.line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #ff6c3a;;
    transition: ease .6s;
}

.input:focus + .line-box .line {
    width: 100%;
}

.label-active {
    top: -3em;
}

#button {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220,220,220);
    font-weight: bold;
    color: rgb(120,120,120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
    background: #ff6c3a;
    color:white;
}#Button_setting_1 {
     display: inline-block;
     padding: 12px 24px;
     background: rgb(220,220,220);
     font-weight: bold;
     color: rgb(120,120,120);
     border: none;
     outline: none;
     border-radius: 3px;
     cursor: pointer;
     transition: ease .3s;
     background: #ff6c3a;
     color:white;
 }#Button_setting_2 {
      display: inline-block;
      padding: 12px 24px;
      background: rgb(220,220,220);
      font-weight: bold;
      color: rgb(120,120,120);
      border: none;
      outline: none;
      border-radius: 3px;
      cursor: pointer;
      transition: ease .3s;
      background: #ff6c3a;
      color:white;
  }#Button_setting_3 {
       display: inline-block;
       padding: 12px 24px;
       background: rgb(220,220,220);
       font-weight: bold;
       color: rgb(120,120,120);
       border: none;
       outline: none;
       border-radius: 3px;
       cursor: pointer;
       transition: ease .3s;
       background: #ff6c3a;
       color:white;
   }

#button:hover {
    background: #333;
    color: #ffffff;
}
#LoginButton{
    top: -1.6em;
    font-family: sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgb(120,120,120); font-size:15px;float:right; margin-top:55px;
}
#LoginButton:hover{
    color:#ff6c3a;
}
#register:hover{
    color:#ff6c3a;
}.menuy{
     text-align: center;
 }
#ustmenuuuu ul{
    list-style: none;
    display: block;
}
#ustmenuuuu ul li{
    display: inline;
    position: relative;
}
@media only screen and (max-width: 775px) {
    .hidden-xs{
        display:block!important;
    }
    .menuy ul li{
        width: 70%;
        margin-right: 5%;
        margin-left: 15%;
    }
    #settingsForm {
        width: 100%;
        margin: 60px auto;
        background: #efefef;
        padding: 60px 30px 80px 30px;
        text-align: center;
        -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
        box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    }

}
@media only screen and (min-width: 775px) and (max-width: 1505px) {
    .hidden-xs{
        display:block!important;
    }

}


/*success*/
.success-page{
    max-width:300px;
    display:block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(50%)
}
.success-page img{
    max-width:62px;
    display: block;
    margin: 0 auto;
}

.btn-view-orders{
    display: block;
    border:1px solid #47c7c5;
    width:100px;
    margin: 0 auto;
    margin-top: 45px;
    padding: 10px;
    color:#fff;
    background-color:#47c7c5;
    text-decoration: none;
    margin-bottom: 20px;
}

.price_packet{
    float: right;
    margin-top: 10%;
    margin-top: 5px;
    padding-top: 5px;
    font-size: 1.2em;
    font-weight: 500;
}

h2{
    color:#47c7c5;
    margin-top: 25px;

}
a{
    text-decoration: none;
}
