.password_process,.personal_settings,.custumize{
    background-color: #efefef;
    height: 400px;
}
.alert-danger text{
    padding-top: 10px;
    padding-bottom: 10px;

    display: grid;
}
.button_contact{
    margin-top:5%;
}#button_contact{
    margin-top:5%;
    margin-bottom:10%;
}
#settingsForm {

    width: 60%;
    margin: 60px auto;
    background: #efefef;
    padding: 60px 120px 80px 120px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}#buttonss ul li a {
     text-decoration:none;
     color:#222;
     background-color:#ccc;
     padding:4px 5px;
 }setting_button:active {
      color: red;
  }.LABEL_text{
margin-bottom: 10px;
      }.input_file{
width:100%;
             }.LABEL_text{
    width:8%;
                               font-size: 12px;
                           }
label {
    display: block;
    position: relative;
    margin: 40px 0px;
}
.label-txt {
    position: absolute;
    top: -1.6em;
    padding: 10px;
    font-family: sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    color: rgb(120,120,120);
    transition: ease .3s;
}
/*
   // {{ Route::currentRouteName() }}

   */
.input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
}

.line-box {
    position: relative;
    width: 100%;
    height: 2px;
    background: #BCBCBC;
}

.line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #ff6c3a;;
    transition: ease .6s;
}

.input:focus + .line-box .line {
    width: 100%;
}

.label-active {
    top: -3em;
}

#button {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220,220,220);
    font-weight: bold;
    color: rgb(120,120,120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
    background: #ff6c3a;
    color:white;
}#Button_setting_1 {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220,220,220);
    font-weight: bold;
    color: rgb(120,120,120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
    background: #ff6c3a;
    color:white;
}#Button_setting_2 {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220,220,220);
    font-weight: bold;
    color: rgb(120,120,120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
    background: #ff6c3a;
    color:white;
}#Button_setting_3 {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220,220,220);
    font-weight: bold;
    color: rgb(120,120,120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
    background: #ff6c3a;
    color:white;
}

#button:hover {
    background: #333;
    color: #ffffff;
}
#LoginButton{
     top: -1.6em;
     font-family: sans-serif;
     font-size: .8em;
     letter-spacing: 1px;
     font-weight: 600;
     color: rgb(120,120,120); font-size:15px;float:right; margin-top:55px;
 }
#LoginButton:hover{
    color:#ff6c3a;
}
#register:hover{
    color:#ff6c3a;
}.menuy{
    text-align: center;
 }
@media only screen and (max-width: 775px) {
    .hidden-xs{
        display:block!important;
    }
    .menuy ul li{
        margin-left: 0%;
    }
    #settingsForm {
        width: 100%;
        margin: 60px auto;
        background: #efefef;
        padding: 60px 0px 80px 0px;
        text-align: center;
        -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
        box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    }

}
@media only screen and (min-width: 775px) and (max-width: 1505px) {
    .hidden-xs{
display:block!important;
    }

}
