#body{
    background-color: #e9f6ff;
}

/*popup style*/
.modal {
    z-index: 1;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    justify-content: center;
    top: 0px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {

    background-color: #e9f6ff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.grafikmodal {
    z-index: 1;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    justify-content: center;
    top: 0px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.grafikmodal-content {
    background-color: #e9f6ff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* The Close2 Button */
.grafikclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*site ekle panel*/


.btns{
    border: none;
    color: white;
    padding-right: 5px ;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: black;
}

.btns:hover:not(.active) {
    transition: all .3s linear;
    background-color: #ff6c3a;
    color: #0af9d7;
}
table{
    width: 50%;
}

@media only screen and (max-width: 900px) {
    .one{
        display: none;
    }
    .websitescont{
        height:auto;
        width:100%;
        background-color: #ffffff;
    }
}
@media only screen and (min-width: 900px) {
.websitescont{
    height:auto;
    width:85%;
    background-color: #e9f6ff;
}
}
.col{
    max-width: 40px;
    overflow-wrap: break-word;
    overflow: auto;
}
.containerbtns{
    background-color: #ff6c3a;
    font-family: Alegreya Sans;
    color: white;
}
